{%  extends 'store/layouts/main.html' %}

{% block content %}

    <div class="py-3 bg-secondary">
        <div class="container">
            <a class="text-white" href="{% url 'home' %}"> Home /</a>
            <a class="text-white" href="{% url 'myorders' %}"> My Orders </a>
        </div>
    </div>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-header">
                        <h3 class="mb-0"> Order View
                            <a href="{% url 'myorders' %}" class="btn btn-warning float-end text-dark"><i class="fa fa-reply"></i> Back</a>    
                        </h3>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4> Shipping Details </h4>
                                <hr>
                                <label class="mt-2">First Name</label>
                                <div class="border p-1"> {{ order.fname }} </div>
                                <label class="mt-2">Last Name</label>
                                <div class="border p-1"> {{ order.lname }} </div>
                                <label class="mt-2">Email</label>
                                <div class="border p-1"> {{ order.email }} </div>
                                <label class="mt-2">Contact No.</label>
                                <div class="border p-1"> {{ order.phone }} </div>
                                <label class="mt-2"> Shipping Address </label>
                                <div class="border p-1"> 
                                    {{ order.address }} ,
                                    {{ order.city }} ,
                                    {{ order.state }} ,
                                    {{ order.country }}
                                </div>
                                <label class="mt-2">Pin-Code</label>
                                <div class="border p-1"> {{ order.pincode }} </div>
                            </div>
                            <div class="col-md-6">
                                <h3>Order Details</h3>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in orderitems %}
                                            <tr>
                                                <td>{{ item.product.name }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.price | stringformat:'d' }}</td>
                                                <td>
                                                    <img src="{{ item.product.prdct_image.url }}" height="50px" width="50px" alt="Product Image">
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <h4>Grand Total : <span class="float-end"> {{ order.total_price | stringformat:'d' }} </span></h4>

                                <h5 class="border p-2"> Payment Mode : {{ order.pay_mode }}</h5>
                                <h5 class="border p-2"> Order Status : {{ order.status }}</h5>
                                <h5 class="border p-2"> Tracking No. : {{ order.tracking_no }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>  
    </div>
    
{% endblock content %}