{%  extends 'store/layouts/main.html' %}

{% block content %}
    {% include 'store/inc/slider.html' %}
    
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <h3>Trending Products</h3>
                <hr>
                <div class="row owl-carousel owl-theme">
                    {% for item in trending_products %}
                    <div class="product_data item">
                        <div class="card">
                            <a href="{% url 'productview' item.category.slug item.slug %}">
                                <div class="card-body">
                                    <div class="category-image" style="height: 350px;">
                                        <img src="{{ item.prdct_image.url }}"alt="Product image" height="300px" class="w-100">
                                        <h4 class="text-center mt-1">{{ item.name | slice:"0:22" }}</h4>
                                        <span class="float-start mt-2"><b>Rs. {{ item.selling_price|stringformat:'d' }}</b></span>
                                    </div>
                                    <span class="float-end mb-2">
                                        {% if item.qty > 0 %}
                                            <label class="badge bg-warning text-dark">In Stock</label>
                                        {% else %}
                                            <label class="badge bg-danger">Out of Stock</label>
                                        {% endif %}
                                    </span>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
<script>
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        dots:false,
        nav:true,
        responsive:{
            0:{
                items:1
            },
            600:{
                items:3
            },
            1000:{
                items:4
            }
        }
    })
</script>
{% endblock scripts %}
