{%  extends 'store/layouts/main.html' %}

{% block content %}

<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}"> Home /</a>
        <a class="text-white" href="{% url 'collections' %}"> Collections /</a>
        <a class="text-white" href="{% url 'collectionsview' category.slug %}"> {{ category.name }} </a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12"> 
            <h1>{{ category.name }}</h1>
            <hr>    
            <div class="row">
                {% for item in products %}
                <div class="col-md-3">
                    <div class="card">
                        <a href="{% url 'productview' item.category.slug item.slug %}">
                            <div class="card-body">
                                <div class="category-image" style="height: 250px;">
                                    <img src="{{ item.prdct_image.url }}"alt="Product image" style="width: 100%; height: 100%"/>
                                </div>
                                <h4 class="text-center mt-2">{{ item.name | slice:"0:22"}}...</h4>
                                <span class="float-start"><s> Rs. {{ item.original_price | stringformat:'d' }}</s></span>
                                <span class="float-end mb-2 "><b> Rs. {{ item.selling_price | stringformat:'d' }}</b></span>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}

